{% extends "layouts/right-menu.html" %}
{% block title %}
    Events
{% endblock %}
{% block content %}
    <div class="admin clearfix">
        {# {% include "views/events/create.html" %} #}
    </div>
    <div class="list">
        {% for event in events %}
            <a class="item" href="/events/{{event.id}}">
                {% include "views/events/list-item.html" %}
            </a>
        {% endfor %}
    </div>
{% endblock %}
{% block sidebar %}
    <h2>Sidebar</h2>
{% endblock %}
{% block js %}
  <script type="text/javascript" src="/js/events.js"></script>
{% endblock %}