<div class="item">
    <h2>{{event.name}}</h2>
    <div class="meta-info">
        <p class="meta-date-time">{{event.date.start|date('F d, Y . g:ia',300)}}</p>

            <button class="btn btn-primary btn-large rsvp" type="button">RSVP</button>
    </div>
    <p class="description">
        {{event.description}}
    </p>
    {% for speaker in event.speakers %}
        {% include "views/users/speaker-summary.html" %}
    {% endfor %}
    <h3> Event Venue</h3>

    {% set venue = event.venue %}
    {% include "views/venues/venue-item.html" %}
</div>