{% extends "layouts/full.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="row" >
    <div class="col-md-4 col-md-offset-2">
    Login with Social
    </div>
    <div class="col-md-4">
        <form class="form-signin" role="form" action="/login" method="post">
            <h2 class="form-signin-heading">Login</h2>
            <div class="form-group">
                <label for="email-address">Email Address</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required autofocus>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
            </div>
            <!-- <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
            </label> -->
            <div class="form-group">
                <button class="btn btn-lg btn-primary " type="submit">Login</button>
            </div>
            <p> Not a Member yet? <a href="/join">Join </a> today</p>
        </form>
    </div>
</div>


{% endblock %}